#heading
{
	color:red;
}
#a
{
	color:blue;
}
#b
{
	color:grey;
}
#c
{
	color:green;
}
#d
{
	color:orange;
}
#para
{
	color:pink;
}
#para1
{
	color:yellow;
}
#para2
{
	color:lightgreen;
}
#para3
{
	color:lightblue;
}