
h1
{
	margin-left:10px;
	width:950px;
	background-color: lightgrey;
	color: #E9967A;
}

.site-wrapper
{
	margin-top:10px;
	margin-left:10px;
	height:600px;
	width:950px;
	border-style:solid;
	border-color:red;  
	background-color: #FFFAFA;
}

.top
{
	margin-top:10px;
	margin-left:10px;
	height:30px;
	width:950px;
	
}

.sub-div1
{
	margin-top:10px;
	margin-left:10px;
	left:100px;
	width:350px;
	height:250px;
	border-style:solid;
	border-color:blue;
	background-color:#B0E0E6;
	position: absolute;  
	z-index:5;
}

.sub-div2
{
	margin-top:10px;
	margin-left:10px;
	left:200px;
	top:200px;
	width:350px;
	height:250px;
	border-style:solid;
	border-color:blue;
	background-color: #708090;
	position: absolute;
	z-index:7;
	
}

.sub-div3
{
	margin-top:10px;
	margin-left:10px;
	left:250px;
	top:250px;
	width:350px;
	height:250px;
	border-style:solid;
	border-color:blue;
	background-color: #4F4FFF;
	position: absolute;
	z-index:3;
}