#reg
{
	background-color:aqua;
}
#side1
{
	background-color:lightgreen;
	margin-top:-125px;
	margin-left:700px;
	width:200px;
}
#chqst
{
	background-color:lightgreen;
	margin-top:-250px;
	margin-left:700px;
	width:200px;
}