.d
{
	position:relative;
	margin-top: 0px;
	margin-left: 0px;
	width:980px;
	height:650px;
	//border-style:solid;
	//border-color: black;
	
		
}

.d1
{  
	position:relative;
	margin-top:5px;
	margin-left:5px;
	margin-right:10px;
	//border-style:solid;
	//border-color: black;
	width:967px;
	height:100px;
	background-color: white;
	text-align:;
	font: italic;
	font-size: 40px;
	background-color: #85a5af;
	border-radius:15px;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a8bec6), color-stop(50%,#8ba9b4), color-stop(71%,#85a5af), color-stop(100%,#628897));
	text-align: center;
	
}
.bank
{
	position:relative;
	margin-top:15px;
	margin-left:50px;
	
}
 
.d2
 {
 	position:relative;
    margin-top:10px;
	margin-left:5px;
	margin-right:15px;
	border-style:solid;
	border-color: #85a5af;
	width:450px;
	height:440px;
	background-color: white;
	border-radius:25px;
 }
 .d3
 {
 	position:relative;
    margin-top:-446px;
	margin-left:350px;
	margin-right:5px;
	border-style:solid;
	float:right;
	border-color: #85a5af;
	width:500px;
	height:440px;
	background-color: white;
	text-align: center;
	font:bold;
	border-radius:25px; 
 }
 .user
 {
 	position:relative;
    margin-top:90px;
	margin-left:250px;
	margin-right:100px;
	border-style:solid;
	float:right;
	border-color: #85a5af;
	width:300px;
	height:240px;
	background-color:#628897 ;
	text-align: center;
	font:bold;
	border-radius:50px;
	 	
 }

 .table
 {	
 	position:relative;
    margin-top:50px;
	margin-left:10px;
	margin-right:100px;
 }
 
 
 .d4
 {  
 	position:relative;
    margin-top:10px;
 	margin-left:5px;
 	margin-right:5px;
    border-style:solid;
	border-color:#85a5af ;
	border-radius:15px;
 }

.frgt
{
	position:relative;	
    margin-top:100px;
 	margin-left:300px;
 	margin-right:200px;
    border-style:solid;
	background-color:#8ba9b4 ;
	border-radius:45px;
	height:300px;
	width:400px;
	text-align:left;
}
 
 