#main
{
	margin-top:10px;
	margin-left:10px;
	height:700px;
	width:980px;
	position:relative;
	border:2px solid blue;
}
#header
{
	font-weight:bold;
	text-align:center;
	font-size:30px;
	margin-top:20px;
	border:2px solid blue;
	height:100px;
	width:950px;
	margin-left:17px;
	position:relative;
}
#content
{
	margin-top:20px;
	border:2px solid blue;
	height:400px;
	width:950px;
	margin-left:17px;
	position:relative;
}
#footer
{
	font-weight:bold;
	text-align:center;
	font-size:30px;
	margin-top:20px;
	border:2px solid blue;
	height:100px;
	width:950px;
	margin-left:17px;
	position:relative;
}
#left
{
	margin-top:10px;
	margin-left:10px;
	border:1px solid grey;
	height:380px;
	width:300px;
	float:left;
}
#right
{
	margin-top:10px;
	position:relative;
	margin-left:320px;
	border:1px solid grey;
	height:380px;
	width:620px;
}
.h1
{
	font-size:25px;
	font-weight:bold;
}
.h2
{
	margin-left:10px;
	text-align:adjust;
	font-size:20px;
}