@CHARSET "ISO-8859-1";

h1 {
	color: grey;
	font-family: calibri;
	text-shadow: 5px 5px 4px #003366;

}

p {
	color: blueViolet;
	font-family: myfont;
	font-size: 15px;
	text-shadow: 5px 5px 4px #663366;
}